body {
	font-family: 'Open Sans';
	font-size: 16px;
	background-color: #3b1b02;
	color: #de9904;
	box-sizing: border-box;
}

.line {
	margin: 4px 0;
	display: flex;
	justify-content: flex-start;
}

.caret-icon {
	width: 18px;
	text-align: center;
	cursor: pointer;
}

.empty-icon {
	width: 18px;
}

.json-type {
	margin-right: 4px;
	margin-left: 4px;
}

.json-key {
	color: #a46241;
	margin-right: 4px;
	margin-left: 4px;
}

.json-index {
	margin-right: 4px;
	margin-left: 4px;
}

.json-separator {

}

.json-value {
	margin-left: 8px;
}

.json-number {
	color: #f8931d;
}

.json-boolean {
	color: #dd5d02;
}

.json-string {
	color: #cd7200;
}

.json-size {
	margin-right: 4px;
	margin-left: 4px;
}

.hide {
	display: none;
}